{% extends 'chartapp/base.html' %}

{% load static %}

{% block title %} {{ project_name.name }} - ChartSite {% endblock %}

{% block content %}
  <div class="container mt-4" style="max-width: 1140px;">
    <div class="card">
      <div class="card-header p-4 mb-1 d-flex bg-white pb-2">
        <a href="{% url 'all-projects' %}">
          <button class="btn second-btn border pe-2 ps-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </button>
        </a>
        <h3 class="pt-1 ps-3">{{ project_name.name }}</h3>
        <div class="ms-auto">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal" id="create-btn">
            + New Chart
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush m-4 mb-5 border" id='parent-box'>
          <li class="list-group-item p-2" id='box' style="display: none;">
            <a class="text-decoration-none p-2" href=""></a>
            <div class="ms-auto">
              <button class="btn btn-outline-primary" id="update-btn" data-bs-toggle="modal" data-bs-target="#createModal" value="">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
              </button>
              <button class="btn btn-outline-danger" id="delete-btn" data-bs-toggle="modal" data-bs-target="#createModal" value="">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </div>
          </li>
      </ul>
    </div>
    <div class="modal" id="createModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header fs-5" id="title"></div>
            <div class="modal-body">
              <form id="form">
                <p class="form-label">Name</p>
                <input class="form-control" id="chart-form" type="text">
              </form>
              <p id="content"></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" id="change" data-bs-dismiss="modal"></button>
            </div>
          </div>
        </div>
    </div>
  </div>

  <script type="text/javascript">
    const url = "{% url 'control-chart' %}";
    const project = "{{ project_name.id }}"
    let objectJSONList = (("{{ json_object_list }}").replace(/&(l|g|quo)t;/g, function(a,b){
                 return {
                     l   : '<',
                     g   : '>',
                     quo : '"'
                 }[b];
             }));
    let objectList = JSON.parse( objectJSONList );
  </script>
  <script src="{% static 'chartapp\chartList.js' %}"></script>
{% endblock %}
