* {
  font-family: 'Roboto', sans-serif;
}
.card {
  border-radius: 0px;
  border: none;
  box-shadow: 0.01rem 0.1rem 0.095rem 0.1rem #6c757d2b;
}
.card-header {
  color: #00295e;
}
.btn {
  border-radius: 0px;
  padding: 8px 15px;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.second-btn {
  color: rgb(0, 0, 255);
  font-weight: 600;
}
.second-btn:hover {
  color: rgb(103, 103, 252);
}
.modal-header {
  color: #00295e;
}
.modal-content {
  border-radius: 0px;
  border: none;
}
.form-c {
  border: 0px;
  width: 100%;
}
.form-c:focus {
  outline: none;
}
.form-control {
  border-radius: 0px;
  padding: 4px 10px;
}
.form-control:hover {
  border-color: rgb(123, 123, 255);
}
.form-control:focus {
  box-shadow: none;
  border-color: rgb(123, 123, 255);
}
.form-label {
  color: #868686;
}
.form-select {
  border-radius: 0px;
}
.form-select:focus {
  box-shadow: none;
}
form label {
  color: #868686;
}
form label .asteriskField {
  display: none;
}
form small {
  display: none;
}
.form {
  display: flex;
}
.btn-outline-danger {
  border: none;
  color: rgb(173, 173, 173);
}
.btn-outline-danger:hover {
  background-color: transparent;
  color: rgb(253, 49, 49);
}
.btn-outline-primary {
  border: none;
  color: rgb(173, 173, 173);
}
.btn-outline-primary:hover {
  background-color: transparent;
  color: blue;
}
input[type=radio] {
  display: none;
}
input[type=radio]:checked + label {
  color: rgb(49, 49, 255);
}
input[type=radio]:checked + label .btn-outline-primary {
  color: rgb(49, 49, 255);
}
.radio-div label:hover {
  color: rgb(49, 49, 255);
}
.navbar-brand h3 {
  font-family: tw cen mt;
  margin: 0%;
}
a {
  color: #0045a0ed;
}
.btn-primary {
  background-color: rgb(49, 49, 255);
  border-color: rgb(49, 49, 255);
}
